# Creating List

In [3]:
mylist=[]
print(mylist)

[]

In [4]:
mylist=[1,2,3,"Kavan",3423.56]
print(mylist)

[1, 2, 3, 'Kavan', 3423.56]

# Adding element

In [5]:
mylist.append("New")
print(mylist)

[1, 2, 3, 'Kavan', 3423.56, 'New']

In [7]:
mylist.extend([34,54])
print(mylist)

[1, 2, 3, 'Kavan', 3423.56, 'New', 34, 54]

In [8]:
mylist.append(["erk",45])
print(mylist)

[1, 2, 3, 'Kavan', 3423.56, 'New', 34, 54, ['erk', 45]]

In [9]:
mylist.insert(2,"This is 2nd position")
print(mylist)

[1, 2, 'This is 2nd position', 3, 'Kavan', 3423.56, 'New', 34, 54, ['erk', 45]]

# Removing an element

In [11]:
del mylist[3]
print(mylist)

[1, 2, 'This is 2nd position', 3423.56, 'New', 34, 54, ['erk', 45]]

In [12]:
mylist.remove('New')
print(mylist)

[1, 2, 'This is 2nd position', 3423.56, 34, 54, ['erk', 45]]

In [13]:
mylist.pop(1)
print(mylist)

[1, 'This is 2nd position', 3423.56, 34, 54, ['erk', 45]]

In [14]:
mylist.clear()
print(mylist)

[]

# Accessing an Element

In [15]:
mylist=[1, 2, 3, 'Kavan', 3423.56, 'New', 34, 54, ['erk', 45]]

In [16]:
for element in mylist:
    print(element)

1
2
3
Kavan
3423.56
New
34
54
['erk', 45]

In [17]:
print(mylist)

[1, 2, 3, 'Kavan', 3423.56, 'New', 34, 54, ['erk', 45]]

In [18]:
print(mylist[3])

Kavan

In [20]:
print(mylist[0:4])

[1, 2, 3, 'Kavan']

In [22]:
print(mylist[::-1])    # Accessing elements in reverse

[['erk', 45], 54, 34, 'New', 3423.56, 'Kavan', 3, 2, 1]

# Other list Functions

In [23]:
print(len(mylist))

9

In [28]:
print(mylist.index('New'))    # find in a list that index of the element

5

In [29]:
print(mylist.count('New'))    # count the occurances of the element

1

In [35]:
newlist=[3,5,7,3,234,54,345,765,453,45]
print(sorted(newlist))    # don't change original list
newlist.sort(reverse=True)    # change original list
print(newlist)

[3, 3, 5, 7, 45, 54, 234, 345, 453, 765]
[765, 453, 345, 234, 54, 45, 7, 5, 3, 3]